body {
  background-color: lightblue;
}
#Jchan {
  background-color: black;
  border: solid;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 4px 1px;
  cursor: pointer;
  width: 100%;
}

#homeButton {
  background-color: yellow;
  border: solid black;
	color: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 1px;
  cursor: pointer;
  width: 100%;
}

#createDiscussionButton {
	background-color: yellow;
  border: solid black;
	color: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 1px;
  cursor: pointer;
  width: 100%;
}

#titlecomment {
  background-color: white;
  border: 2px solid black ;
  color: black;
  padding: 15px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 1px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

#postcomment {
  background-color: white;
  box-shadow: 5px 5px 5px #9aa6a6; ;
  color: black;
  padding: 15px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 1px;
  cursor: pointer;
  width: 100%;
}

#postText {
	background-color:;
	height: 200px;
	width: 500px;
}

#postComment {
  height: 100px;
	width: 300px;
}

#postButton {

}

.postTitleSubmitted a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  background-color: white;
  box-shadow: 5px 5px 5px #9aa6a6;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.postTitle {
  color: black;
  width: 200px
  font-size: 20px;
}

.postTextSubmitted {
  color: black;
  text-decoration: none;
}

.postCommentSubmitted {
  color: green;
}

.postlist {
  color: black;
  text-decoration: none;
  font-size: 20px;
  background-color: white;
  box-shadow: 5px 5px 5px #9aa6a6;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

#postCommentButton {
  box-shadow: 5px 5px 5px #9aa6a6;
}
